html {
    font-size: 18px;
    line-height: 1.4;
}

/*div{
    display: block;
}*/

body{
    font-family: Helvetica, sans-serif;
}

h1{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    padding: 1.5rem 5rem;
}

header {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;

}

span.company {
    margin: auto 0;
    padding-left: 1rem;
    background-color: cadetblue;
    color: white;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*nav.container {
    max-width: 100%;
}*/
.container {
    margin: auto;
    width: 960px;
    /*padding: 1rem 0;*/
    justify-content: space-between;
    /*align-items: center;*/
}

.logo {
    display: flex;
    background-color: cadetblue;
    color: white;
    /*padding: 1rem 1rem 1rem 2rem;*/
    width: 100%;
}

.logo img{
    padding: 1rem 1rem 1rem 2rem;
    height: 1.5rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    color: white;
    height: auto;
    padding-right: 2rem;
}

.main-banner {
    display: inline-block;
    margin-top: 10rem;
    margin-right: -2rem;
    background-color: white;
    color: black;
}

.flex {
    display: flex;
}

header .flex {
    justify-content: flex-end;
}

.services {
    display: flex;
    justify-content: center;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 8rem;
    width: 5rem;
    margin: 3rem;
}

.service img{
    margin-bottom: 1rem;
}

.service img.paper-icon{
    width: 3.5rem;
}


.service img.ruler-icon {
    width: 5rem;
}

.service img.truck-icon {
    width: 5rem;
}


.statement{
    display: flex;
    flex-direction: row;
}

.container .statement {
    /*justify-content: center;*/
    /*text-align: center;*/
    /*justify-content:space-between;*/
}

.statement-header{
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    max-width: 10rem;
    padding: 0.5rem 1.25rem;
}

.info{
    background-color: white;
    color: black;
    margin-right: 5%;
    margin-bottom: 4rem;
    max-width: 35%;
}

.info p{
    padding-top: 1rem;
}

footer{
    background-color: azure;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

footer img{
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
}
